*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container .spanWrapper{
    padding-top: 30px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgb(86, 0, 0);
}
.container .spanWrapper span{
    margin-left: 20px;
    font-size: 18px;
}
    /* nav-tab style */
.nav-tabs{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 3px solid #ddd; /* tạo đường kẻ */ 
}
.nav-tabs{
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
}
.nav-tabs li{
    margin-right: 10px;
    width: 100px;
    text-align: center;
}
.nav-tabs li a{
    display: block; 
    padding: 6px 10px;
    text-decoration: none;
    position: relative;
}
.nav-tabs li a::after{
    content: "";
    height: 3px;
    width: 100%;
    position:absolute;
    left: 0px;
    bottom: -3px;
    background: transparent;
}

.nav-tabs li.active a::after, .nav-tabs li:hover a::after{ 
    background: #e74c3c;
}
.nav-tabs li:hover{
    background-color: red;
   
}

    /* tab-content style */
.tab-content-item {
   margin-top: 50px;
}
